/* Carousel base class */
.carousel {
  height: 550px;
  margin-bottom: 35px;
  box-shadow: 1px 4px 8px #888888;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 550px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: relative;
  top: 0;
  left: 0;
  max-width:100%;
  margin-left:auto;
  margin-right:auto;
}

.carousel-caption
{
	z-index: 10;
	background-color:rgba(0,0,0,0.8);
	max-width:450px;
	margin-left:auto;
	margin-right:auto;
}

