.item .image
{
	width:200px;
	height:200px;
}

.helvetica
{
	margin:0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

 .status
{
	font-size:14px;
}

.stats-2
{
	padding-top:15px;
	font-size:40px;
}

.stats-2 span
{
	font-size:14px;
	color:#777;
	font-weight:bold;
}

.seller img
{
	width:150px;
	height:150px;
}

