body
{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-color:#FEFEFE;
}

.header-search-box
{
	width:700px;
}

.navbar-nav>li>a.header:hover
{
	color:#CA241F;
}

.nav-lower
{
	background-color:rgba(0,0,0,0.2);
	color:white;
}

.pin
{
	width:150px;
	min-height:150px;
	border: 1px solid grey;
	box-shadow:1px 1px 6px #888888;
	font-size:12px;
	padding:0px;
	position:relative;
}

.pin img
{
	width:150px;
	height:150px;
}


.pin ul
{
	list-style:none;
	padding:0;
	margin:0;
}

.pin ul li
{
	display:inline-block;	
	padding:5px 5px 5px 0px;
	font-size:12px;
}

.pin-stats .name
{
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
}

.pin-stats p
{
	margin:0px;
} 

.bid-stats
{
	border-top:1px solid #AAA;
	padding:5px;
	text-align:center;
	font-weight:bold;
	font-size:16px;
}

.bid-stats.mild
{
	font-weight:normal;	
	font-size:12px;
}


.pin-stats
{
	padding:10px 5px 5px 10px;
}

.pin-user
{
	padding:10px 5px 5px 10px;
	border-top:1px solid #AAA;
	overflow:hidden;
	display:block;
	cursor:pointer;
}

.pin-status
{
	position: absolute;
	top: 0;
	width: 149px;
	text-align: center;
	border-radius: 2px;
	color: white;
	background-color:rgba(0,0,0,0.9);
	padding:4px;
}

.pin-status.heavy
{
	font-size:14px;
}

.pin-status.open
{
	background-color: rgba(2, 151, 2, 0.8);
}

.pin-status.closed
{
	background-color: rgba(151, 2, 2, 0.8);
}

.pin-user:hover
{
	background-color:#CCC;
	text-decoration:none;
}

.pin-user img
{
	width:25px;
	height:25px;
	float:left;
	margin-right:10px;
	border-radius:2px;
}

.pin-user span
{
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	color:#555;
}

.icon-heart
{
	color:maroon;
}

.skip-header
{
	margin-top:160px;
	margin-bottom:20px;
}

.auto-col
{
	width:auto;
}

h1.extra-bold
{
	padding:0px;
	margin:0px;
	font-size:32px;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

.megatron
{
	padding:30px;
	background-color:rgba(1,1,1,0.9);
	color:white;
	text-align:justify;
}

.megatron .content
{
	padding:15px 5px 15px 0px;
}

.heading-hr
{	
	margin-top:25px;
	padding-bottom:10px;
}

.heading-hr hr
{
	border:1px solid black;
}

.heading-hr h1
{
	padding:0px;
	margin:0px;
	font-size:32px;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

.heading-hr.heading-hr-mild h1
{
	padding:0px;
	margin-top:10px;
	font-size:18px;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}
